{% extends 'base.html'%}
{% block content %}
<table cellpadding="10px" width="100%">
    <tr>
        <th>S.NO</th>
        <th>Name</th>
        <th>Register.No</th>
        <th>Class</th>
        <th>subject 16</th>
         <th>subject 17</th>
         <th>subject 18</th>
         <th>subject 19</th>
         <th>subject 20</th>
     </tr>
    {% for a in sem4%}
    <tr>
        <td>{{a.id}}</td>
         <td>{{a.stuname}}</td>
         <td>{{a.regno}}</td>
         <td>{{a.stuclass}}</td>
         <td>{{a.sub16}}</td>
         <td>{{a.sub17}}</td>
         <td>{{a.sub18}}</td>
         <td>{{a.sub19}}</td>
         <td>{{a.sub20}}</td>
        <td><a href="http://127.0.0.1:8000/delsem4/{{a.id}}"><button>DELETE</button></a> </td>
    </tr>
    {% endfor%}
    <a href="http://127.0.0.1:8000/csread_y2"><button>BACK TO LIST</button></a>
</table>
{% endblock %}