{% extends 'base.html'%}
{% block content %}
<form method="POST" >
    {% csrf_token %}
    <table align="center" cellpadding="10px">
        <tr>
            <th colspan="2">STUDENT ENTRY FORM</th>
        </tr>
        <tr>
            <td><label for="">NAME</label> </td>
            <td><input type="text" name="stuname"></td>
        </tr>
         <tr>
            <td><label for="">REGISTER NO</label> </td>
            <td><input type="text" name="regno"></td>
        </tr>
         <tr>
            <td><label for="">CLASS</label> </td>
            <td><input type="text" name="stuclass"></td>
        </tr>
         <tr>
            <td><label for="">SUBJECT 11</label> </td>
            <td><input type="text" name="sub11"></td>
        </tr>
         <tr>
            <td><label for="">SUBJECT 12</label> </td>
            <td><input type="text" name="sub12"></td>
        </tr>
         <tr>
            <td><label for="">SUBJECT 13</label> </td>
            <td><input type="text" name="sub13"></td>
        </tr>
         <tr>
            <td><label for="">SUBJECT 14</label> </td>
            <td><input type="text" name="sub14"></td>
        </tr>
         <tr>
            <td><label for="">SUBJECT 15</label> </td>
            <td><input type="text" name="sub15"></td>
        </tr>
         <tr>
            <td></td>
            <td><input type="submit" value="submit"> </td>
        </tr>
    </table>
</form>
{% endblock%}