{% extends 'base.html'%}
{% block content %}
<table align="center">
    <tr><th><a href="http://127.0.0.1:8000/readstu"><button>1st year</button></a> </th></tr>
    <tr><th><a href="http://127.0.0.1:8000/csread_y2"><button>2nd year</button></a> </th></tr>
    <tr><th><a href="http://127.0.0.1:8000/csread_y3"><button>3nd year</button></a> </th></tr>
</table>
<table align="center">
    <tr>
        <th><a href="http://127.0.0.1:8000/dep_read"><button>CHANGE DEPARTMENT</button></a> </th>
    </tr>
</table>
{% endblock %}