{% extends 'base.html'%}
{% block content %}
<table width="100%" cellpadding="10px">
  <tr>
    <th>S.No</th>
    <th>Name</th>
    <th>Register No</th>
    <th>Class</th>
    <th>Subject 21</th>
     <th>Subject 22</th>
     <th>Subject 23</th>
     <th>Subject 24</th>
     <th>Subject 25</th>
      <th>EDIT</th>
  </tr>
  {% for aa in sem5%}
    <tr>
        <td>{{aa.id}}</td>
        <td>{{aa.stuname}}</td>
        <td>{{aa.regno}}</td>
        <td>{{aa.stuclass}}</td>
        <td>{{aa.sub21}}</td>
        <td>{{aa.sub22}}</td>
        <td>{{aa.sub23}}</td>
        <td>{{aa.sub24}}</td>
        <td>{{aa.sub25}}</td>
        <td><a href="http://127.0.0.1:8000/esem5/{{aa.id}}"><button>Edit</button></a></td>
    </tr>
    {% endfor %}
    <a href="http://127.0.0.1:8000/csread_y3"><button>BACK TO LIST</button></a>
</table>
{% endblock %}